/* ==========================================
   RESET
========================================== */

*,
*::before,
*::after {

    margin: 0;

    padding: 0;

    box-sizing: border-box;
}


/* ==========================================
   HTML
========================================== */

html {

    scroll-behavior: smooth;
}


/* ==========================================
   BODY
========================================== */

body {

    min-height: 100vh;
}


/* ==========================================
   MEDIA ELEMENTS
========================================== */

img,
video {

    display: block;

    max-width: 100%;
}


/* ==========================================
   BUTTON RESET
========================================== */

button {

    border: none;

    outline: none;

    background: none;

    font: inherit;

    cursor: pointer;
}


/* ==========================================
   LINKS
========================================== */

a {

    color: inherit;

    text-decoration: none;
}


/* ==========================================
   LISTS
========================================== */

ul {

    list-style: none;
}